:root {
  --vp-c-brand-1: #a46a1b;
  --vp-c-brand-2: #8a5410;
  --vp-c-brand-3: #9a5f0d;
  --vp-c-brand-soft: rgb(184 117 20 / 14%);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #b87514, #e3a72f);
}

.dark {
  --vp-c-brand-1: #e6a93b;
  --vp-c-brand-2: #f0bc5c;
  --vp-c-brand-3: #9e620e;
  --vp-c-brand-soft: rgb(227 167 47 / 16%);
}
